fastapi
uvicorn
pdfplumber
faiss-cpu
torch
transformers
sentence-transformers
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
openai
tqdm
numpy
